<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="punchout2go" translate="label" sortOrder="1000">
            <label>TradeCentric</label>
        </tab>
        <section id="tradecentric_invoice" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Invoice</label>
            <tab>punchout2go</tab>
            <resource>TradeCentric_Invoice::config_invoice</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoice Path</label>
                <field id="url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url</label>
                </field>
                <field id="key" translate="label comment" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logging" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="invoice_on_event" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice On Event</label>
                    <source_model>TradeCentric\Invoice\Model\System\Config\Source\InvoiceEvents</source_model>
                    <!--<comment><![CDATA[Controls session login behaviors.<br/>
                                    <b>Anonymous</b> gives the user a "PunchOut session" but they are not actually logged in as a specific customer account.<br/>
                                    <b>Login</b> authenticates the user as a particular customer account.]]></comment>-->
                </field>
            </group>
            <group id="current_version" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Version</label>
                <field id="version" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <frontend_model>TradeCentric\Invoice\Block\Forms\Config\Version</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
